
@import url(http://fonts.googleapis.com/css?family=Radley:400&text=OC);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);

/* Stylesheet */

body
{
    font-size: 16px;
    font-family: Georgia, serif;
    line-height: 1.6;
    width: 720px;
    margin: 0 auto;
    color: #222;
}

a {
    color: #439893;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header > h1 {
    font-family: 'Radley', 'Lato';
    font-weight: 400;
    font-size: 5em;
}

h1, h2, h3, h4 {
    font-family: 'Lato';
    font-weight: 400;
}

h1 > a, h2 > a, h3 > a, h4 > a {
    text-decoration: none;
}

body > section > h1 {
    font-size: 2em;
}

section > section {
    margin-top: 30px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 30px;
}

#TOC > ul > li > ul > li > ul {
    display: none;
}

.highlight {
    font-family: Monaco, Menlo, Droid Sans, monospace;
    font-size: 0.9em;
}
